In [1]:
import pandas as pd

In [2]:
# 1.1_dict_to_series

dict_data = {'a': '1', 'b': 2, 'c': .3}

sr = pd.Series(dict_data)

print(type(sr))
print('\n')
print(sr)
print(type(sr['a']))

print(sr.index)
print(sr.values)

for a in sr:
    print(a)

<class 'pandas.core.series.Series'>


a      1
b      2
c    0.3
dtype: object
<class 'str'>
Index(['a', 'b', 'c'], dtype='object')
['1' 2 0.3]
1
2
0.3

In [3]:
# 1.2_series_index

list_data = ['2021-10-28', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)
print(sr.values)
for t in sr.values:
    print(type(t))
    
for a in sr:
    print(a)
#     print(b)

idx = sr.index
val = sr.values

print(idx)
print(val)

0    2021-10-28
1          3.14
2           ABC
3           100
4          True
dtype: object
['2021-10-28' 3.14 'ABC' 100 True]
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>
2021-10-28
3.14
ABC
100
True
RangeIndex(start=0, stop=5, step=1)
['2021-10-28' 3.14 'ABC' 100 True]

In [4]:
#1.3_series_element

tup_data = ('A', '2021-10-28', 'b', False)
sr = pd.Series(tup_data, index=['Name', 'DOB', 'Gender', 'isStudent'])

sr1 = pd.Series(tup_data)
print(sr)
print(sr1)

print(sr[0])
print(sr['Name'])

print(sr[[1, 2]])
print(sr[['DOB', 'isStudent']])

print(sr[1:2])
print(sr['DOB':'Gender'])

Name                  A
DOB          2021-10-28
Gender                b
isStudent         False
dtype: object
0             A
1    2021-10-28
2             b
3         False
dtype: object
A
A
DOB       2021-10-28
Gender             b
dtype: object
DOB          2021-10-28
isStudent         False
dtype: object
DOB    2021-10-28
dtype: object
DOB       2021-10-28
Gender             b
dtype: object

In [5]:
# 1.4_dict_to_dataframe

dict_data = {'c0': [1, 2, 3], 'c1': [4, 5, 6], 'c2': [7, 8, 9], 'c3': [10, 11, 12], 'c4': [13, 14, 15]}

df = pd.DataFrame(dict_data)

print(type(df), '\n')
print(df)

sr = pd.Series(df['c0'])
print(sr)
print(df['c0'])

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15
0    1
1    2
2    3
Name: c0, dtype: int64
0    1
1    2
2    3
Name: c0, dtype: int64

In [6]:
# 1.5_change_df_idx_col

df = pd.DataFrame([[15, 'Man', 'Kalton'], [17, 'Woman', 'Borison']],
                  index=['Andrew', 'Summer'],
                  columns=['Age', 'Sex', 'School'])

print(df, '\n')
print(df.index, '\n')
print(df.columns)

df.index = ['s1', 's2']
df.columns = ['Old', 'Gender', 'Came from']

print(df, '\n')
print(df.index, '\n')
print(df.columns)

        Age    Sex   School
Andrew   15    Man   Kalton
Summer   17  Woman  Borison

Index(['Andrew', 'Summer'], dtype='object')

Index(['Age', 'Sex', 'School'], dtype='object')
    Old Gender Came from
s1   15    Man    Kalton
s2   17  Woman   Borison

Index(['s1', 's2'], dtype='object')

Index(['Old', 'Gender', 'Came from'], dtype='object')

In [7]:
# 1.6_change_df_idx_col2

df = pd.DataFrame([[15, 'Boy', 'Duck'], [17, 'Girl', 'Suri']],
                  index=['Andrew', 'Summer'],
                  columns=['Age', 'Sex', 'School'])

print(df)
print("\n")

df.rename(columns={'Age': 'Old', 'Sex': 'Gender', 'School': 'Part'})

print(df)
print("\n")

df.rename(index={'Andrew': 'Bob', 'Summer': 'Meghan'}, inplace=True)

print(df)
print("\n")

        Age   Sex School
Andrew   15   Boy   Duck
Summer   17  Girl   Suri


        Age   Sex School
Andrew   15   Boy   Duck
Summer   17  Girl   Suri


        Age   Sex School
Bob      15   Boy   Duck
Meghan   17  Girl   Suri

In [8]:
# 1.7_remove_row

exam_data = {'Math': [90, 80, 79], 'English': [98, 89, 95],
             'Music': [85, 95, 100], 'Gym Class': [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['A', 'B', 'C'])
print(df, '\n')

df2 = df[:]
df2.drop('A', inplace=True)
print(df2, '\n')

df3 = df[:]
df3.drop(['A', 'B'], axis=0, inplace=True)
print(df3, '\n')

df4 = df[:]
df4.drop(['A', 'B', 'C'], axis=0)
print(df4, '\n')

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90
C    79       95    100         90

   Math  English  Music  Gym Class
B    80       89     95         90
C    79       95    100         90

   Math  English  Music  Gym Class
C    79       95    100         90

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90
C    79       95    100         90

/opt/JupyterLab/resources/jlab_server/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/JupyterLab/resources/jlab_server/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
# 1.8_remove_column

exam_data = {'Math': [90, 80, 79], 'English': [98, 89, 95],
             'Music': [85, 95, 100], 'Gym Class': [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['A', 'B', 'C'])
print(df, '\n')

df4 = df[:]
df4.drop('Math', axis=1, inplace=True)
print(df4, '\n')

df5 = df[:]
df5.drop(['Music', 'Gym Class'], axis=1, inplace=True)
print(df5, '\n')

df6 = df[:]
print(df6.drop('English', axis=1), '\n')
print(df6, '\n')

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90
C    79       95    100         90

   English  Music  Gym Class
A       98     85        100
B       89     95         90
C       95    100         90

   Math  English
A    90       98
B    80       89
C    79       95

   Math  Music  Gym Class
A    90     85        100
B    80     95         90
C    79    100         90

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90
C    79       95    100         90

/opt/JupyterLab/resources/jlab_server/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/JupyterLab/resources/jlab_server/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
# 1.9_select_row

exam_data = {'Math': [90, 80, 79], 'English': [98, 89, 95],
             'Music': [85, 95, 100], 'Gym Class': [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['A', 'B', 'C'])
print(df, '\n')

label1 = df.loc['A']
position1 = df.iloc[1]
print(label1, '\n')
print(position1, '\n')

label2 = df.loc[['A', 'B']]
position2 = df.iloc[[0, 1]]
print(label2, '\n')
print(position2, '\n')

label3 = df.loc['A':'B']
position3 = df.iloc[0:1]
print(label3, '\n')
print(position3, '\n')

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90
C    79       95    100         90

Math          90
English       98
Music         85
Gym Class    100
Name: A, dtype: int64

Math         80
English      89
Music        95
Gym Class    90
Name: B, dtype: int64

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90

   Math  English  Music  Gym Class
A    90       98     85        100

In [15]:
# 1.10_select_column

exam_data = {'Math': [90, 80, 79], 'English': [98, 89, 95],
             'Music': [85, 95, 100], 'Gym Class': [100, 90, 90]}

df = pd.DataFrame(exam_data, index=['A', 'B', 'C'])
print(df, '\n')

math1 = df['Math']
print(math1, type(math1), '\n')

english1 = df.English
print(english1, type(english1), '\n')

music_gym = df[['Music', 'Gym Class']]
print(music_gym, type(music_gym), '\n')

math2 = df[['Math']]
print(math2, type(math2), '\n')

   Math  English  Music  Gym Class
A    90       98     85        100
B    80       89     95         90
C    79       95    100         90

A    90
B    80
C    79
Name: Math, dtype: int64 <class 'pandas.core.series.Series'>

A    98
B    89
C    95
Name: English, dtype: int64 <class 'pandas.core.series.Series'>

   Music  Gym Class
A     85        100
B     95         90
C    100         90 <class 'pandas.core.frame.DataFrame'>

   Math
A    90
B    80
C    79 <class 'pandas.core.frame.DataFrame'>

In [ ]:
# 1.14_modify_dataframe_elemet