In [1]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_blobs, make_moons
from sklearn.preprocessing import StandardScaler
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn as mg

In [2]:
demo_df = pd.DataFrame({'Num Feature': [0, 1, 2, 1],
                       'Cate Feature': ['Socks', 'Fox', 'Scoks', 'Box']})
demo_df['Num Feature'] = demo_df['Num Feature'].astype(str)

In [3]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)

print(ohe.fit_transform(demo_df))

[[1. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 1. 0.]
 [0. 1. 0. 1. 0. 0. 0.]]

In [4]:
print(ohe.get_feature_names())

['x0_0' 'x0_1' 'x0_2' 'x1_Box' 'x1_Fox' 'x1_Scoks' 'x1_Socks']

In [5]:
import os
data = pd.read_csv(os.path.join(mg.datasets.DATA_PATH, 'adult.data'),
                  header=None, index_col=False,
                  names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                          'martial-status', 'occupation', 'relationship', 'race', 'gender',
                          'capital-gain', 'capital-loss', 'hours-per-week', 'native-coutry', 'income'])

data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']]
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

ct = ColumnTransformer(
    [('scaling', StandardScaler(), ['age', 'hours-per-week']),
    ('onehot', OneHotEncoder(sparse=False),
    ['workclass', 'education', 'gender', 'occupation'])])

In [7]:
from sklearn.linear_model import LogisticRegression

data_features = data.drop('income', axis=1)

X_train, X_test, y_train, y_test = train_test_split(
    data_features, data.income, random_state=0)

ct.fit(X_train)
X_train_trans = ct.transform(X_train)
print(X_train_trans.shape)

(24420, 44)

In [8]:
logreg = LogisticRegression()
logreg.fit(X_train_trans, y_train)

X_test_trans = ct.transform(X_test)

print(logreg.score(X_test_trans, y_test))

0.8092371944478566

/home/arti/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
ct.named_transformers_.onehot

OneHotEncoder(sparse=False)